<h1>Shop</h1>

<table class="shop">
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Stock</td>
    <td>Add to cart</td>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.price | currency:'EUR'}}</td>
    <td>{{product.stock}}</td>
    <td><button (click)="requestAddProduct(product, 1)">Add to cart</button></td>
  </tr>
</table>

<h2>Shopping cart:</h2>
<table class="shopping-cart">
  <tr>
    <td>Name</td>
    <td>Amount</td>
    <td>total price</td>
  </tr>
  <tr *ngFor="let order of shoppingCart">
    <td>{{order.productName}}</td>
    <td>{{order.amount}}</td>
    <td>{{order.totalPrice | currency:'EUR'}}</td>
  </tr>
</table>

<button (click)="showModal = true">Delete all items</button>

<h2>Total price: {{getTotalPrice() | currency:'EUR'}}</h2>

<div class="modal-container" *ngIf="showModal">
  <div class="modal-content">
    <p>Are you sure you want to delete all items from your shopping cart?</p>
    <button (click)="shoppingCart = []; showModal = false">Yes</button>
    <button (click)="showModal = false">Cancel</button>
  </div>
</div>
